.about__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  width: 600px;
  height: 144px;
  margin-top: 24px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .about__description {
    width: 424px;
    height: 192px;
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .about__description {
    width: 288px;
    height: 288px;
    margin: 16px auto 0 auto;
  }
}