@media (min-width: 768px) and (max-width: 1280px) {
  .search__input-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    width: 228px;
    height: 22px;
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .search__input-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    width: 228px;
    height: 22px;
    margin-left: 24px;
  }
}