.menu__buttons {
  margin-right: 104px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .menu__buttons {
    margin-right: 40px;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .menu__buttons {
    margin-right: 40px;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: none;
  }
}