.search__input {
  display: flex;
  width: 608px;
  height: 64px;
  background: #FFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  border-radius: 100px;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  padding-left: 24px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .search__input {
    display: flex;
    width: 448px;
    height: 56px;
    background: #FFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    border-radius: 100px;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .search__input {
    display: flex;
    width: 288px;
    height: 56px;
    background: #FFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    border-radius: 100px;
    align-items: center;
  }
}