@import url(./_black/menu-button__saved-news_black.css);
@import url(./_inactive/menu-button__saved-news_inactive.css);
@import url(./_selected/menu-button__saved-news_selected.css);

.menu-button__saved-news {
  margin-top: 30px;
  margin-left: 34px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .menu-button__saved-news {
    margin-top: 22px;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .menu-button__saved-news {
    margin-top: 22px;
    margin-left: 16px;
  }
}