@import url(./_inactive/menu-button__main_inactive.css);
@import url(./_white/menu-button__main_white.css);

.menu-button__main {
  margin-top: 30px;
  border-bottom: 3px solid #ffffff;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .menu-button__main {
    margin-top: 22px;
    box-shadow: inset 0px -3px 0px rgba(255, 255, 255);
  }
}

@media (max-width: 767px) {
  .menu-button__main {
    margin-top: 22px;
    box-shadow: inset 0px -3px 0px rgba(255, 255, 255);
  }
}