@import url(./__text/preloader__text.css);
@import url(./preloader-container/preloader-container.css);
@import url(./preloader-circle/preloader-circle.css);

.preloader {
  background: #F5F6F7;
  display: flex;
  z-index: -1;
}