.header-page-about__title {
  margin-left: 104px;
  margin-top: 80px;
  width: 712px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .header-page-about__title {
    margin: 30px auto auto auto;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #1A1B22;
    width: 688px;
  }
}

@media (max-width: 767px) {
  .header-page-about__title {
    margin: 16px auto auto auto;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #1A1B22;
    width: 288px;
  }
}
