.search__button {
  display: flex;
  position: absolute;
  width: 168px;
  height: 64px;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  margin-left: 440px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
  justify-content: center;
}

.search__button:hover {
  background: #347EFF;
}

.search__button:active {
  background: #2A65CC;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .search__button {
    display: flex;
    position: absolute;
    width: 160px;
    height: 56px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    margin-left: 292px;
  }
}

@media (max-width: 767px) {
  .search__button {
    display: flex;
    position: static;
    width: 288px;
    height: 56px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    margin-top: 16px;
    margin-left: auto;
  }
}