.cards-item__delete-icon {
  height: 24px;
  width: 24px;
  background-image: url(../../../images/trash_icon.svg);
  margin: auto;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .cards-item__delete-icon {
    background-image: url(../../../images/trash_icon.svg);
    margin: auto;
    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .cards-item__delete-icon {
    background-image: url(../../../images/trash_icon.svg);
    margin: auto;
    box-sizing: border-box;
  }
}