.results-container {
  margin: 80px auto 80px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .results-container {
    margin: 40px auto 40px;
  }
}

@media (max-width: 767px) {
  .results-container {
    margin: 32px auto 32px;
  }
}