@import url(./__author/cards-item__author.css);
@import url(./__description/cards-item__description.css);
@import url(./__save-button/cards-item__save-button.css);
@import url(./__date/cards-item__date.css);
@import url(./__title/cards-item__title.css);
@import url(./__container/cards-item__container.css);
@import url(./__save-icon/cards-item__save-icon.css);
@import url(./__button-container/cards-item__button-container.css);


.cards-item {
  width: 400px;
  height: 576px;
  background: #FFF;
  border-radius: 16px;
  background-image: url(../../images/image_08.png);
  background-size: 400px 272px;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .cards-item {
    width: 224px;
    height: 420px;
    background-size: 224px;
  }
}

@media (max-width: 767px) {
  .cards-item {
    width: 288px;
    height: 440px;
    background-size: 288px;
    margin: auto;
  }
}