@import url(./__content/popup-auth__content.css);
@import url(./__button-close/popup-auth__button-close.css);
@import url(./__title/popup-auth__title.css);
@import url(./__auth-form/popup-auth__auth-form.css);
@import url(./popup-login/popup-login.css);
@import url(./popup-registration/popup-registration.css);
@import url(./auth-form/__subtitle/auth-form__subtitle.css);

.popup-auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 5;
}

@media (max-width: 430px) {
  .popup-auth {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
    border: solid 1px #000;
    z-index: 5;
  }
}