.not-found {
  background: #F5F6F7;
  display: flex;
}

.not-found__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
}

.not-found__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #1A1B22;
  margin-bottom: 16px;
}

.not-found__image {
  width: 96px;
  height: 96px;
  background-image: url(../../images/not-found_v1.svg);
  margin: auto;
}