.footer__icons {
  margin: auto 104px;
  width: 68px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .footer__icons {
    margin: auto 42px;
  }
}

@media (max-width: 767px) {
  .footer__icons {
    position: absolute;
    margin-top: 20px;
    margin-left: 232px;
  }
}