.auth-form__button {
  background-color: transparent;
  width: 100%;
  height: 64px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: block;
  cursor: pointer;
  color: #B6BCBF;
  background: #E6E8EB;
  border-radius: 100px;
  margin-top: 39px;
}

button:focus {
  outline-color: greenyellow;
}

.button_edit {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 38px;
  height: 18px;
  font-size: 12px;
  display: block;
  cursor: pointer;
  border: solid 1px #000;
}

.button_edit:focus {
  outline-color: greenyellow;
}
